<!--
  Generated template for the PlacePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Place</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p>It works!</p>
  <div #map id="map">
  </div>
  <button ion-button block  (click)="onDismiss()">Dismiss</button>
</ion-content>
