<ion-header>

  <ion-navbar>
    <ion-title>Add place</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form (ngSubmit)="onAddPlace(f.value)" #f="ngForm">
        <ion-item>
          <ion-label>Place name: </ion-label>
          <ion-input type="text" name="title" ngModel required></ion-input>
        </ion-item>

      </form>
      <ion-grid>
        <ion-row>
          <ion-col><button ion-button block (click)="onLocateUser()"  >Locate me</button></ion-col>
        </ion-row>

      </ion-grid>
       <!--block zorgt ervoor dat de button over de volledig breedt van het scherm komt te staan-->
       <button ion-button block type="submit" disabled id="AddPlaceButton" (click)="onAddPlace(f.value)" >Add Place</button>
</ion-content>
