<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <!--end directive is to place the icon on the right side op de page-->
      <!--ion-button is for the lay-out of the plus-icon. Icon only zorgt ervoor -->
      <!-- dat we niet en een button en een plus icon gebruiken maar alle 2 in 1-->
      <button ion-button icon-only  (click)="onLoadNewPlace()">
          <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Awesome places
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let place of places"  (click)="onOpenPlace(place)">{{ place.title }}</ion-item>
  </ion-list>
</ion-content>
